@font-face{
  font-family: "Cuprum";
  src: 
  url("../fonts/Cuprum-Regular.woff2") format("woff2"),
  url("../fonts/Cuprum-Regular.woff") format("woff");
}

@font-face{
  font-family: "Cuprum-Bold";
  src: 
  url("../fonts/Cuprum-Bold.woff2") format("woff2"),
  url("../fonts/Cuprum-Bold.woff") format("woff");
}

@font-face{
  font-family: "Cuprum-Italic";
  src: 
  url("../fonts/Cuprum-Italic.woff2") format("woff2"),
  url("../fonts/Cuprum-Italic.woff") format("woff");
}

@font-face{
  font-family: "PTSans-Regular";
  src: 
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face{
  font-family: "PTSans-Bold";
  src: 
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

@font-face{
  font-family: "PTSans-Italic";
  src: 
  url("../fonts/ptsansitalic.woff2") format("woff2"),
  url("../fonts/ptsansitalic.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*1. Позиционирование*/
.new-product {
  position: relative;
}

.new-product::before {
  content: url("../img/new-flag.png");
  position: absolute;
  right: 0px;
}

/*2. Блочная модель*/
body {
  min-width: 940px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.header-top-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #293449;
}

.header-top {
  display: flex;
  width: 940px;
  height: 42px;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  min-height: 158px;
  width: 940px;
}

.page-description {
  margin-left: 53px;
}

.navbar {
  display: flex;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  min-height: 60px;
}

.logo-top, .logo-bot {
  display: flex;
  width: 220px;
}

.logo-top {
  height: 47px;
  justify-content: center;
  align-items: center;
}

.icon-search {
  position: absolute;
  margin-left: 17px;
}

.search input {
  padding-left: 49px;
}

.search {
  display: flex;
  align-items: center;
}

.search-input {
  width: 270px;
  min-height: 42px;
}

.list-widgets,
.list-user,
.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-widgets {
  height: 42px;
}

.bookmark,
.cart {
  display: flex;
  width: 150px;
  padding-left: 17px;
  padding-right: 28px;
  justify-content: space-between;
  align-items: center;
}

.check-out {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  min-height: 42px; 
}

.page-description {
  margin-top: 0px;
  width: 197px;
}

.header-phone {
  display: flex;
  align-items: center;
  width: 270px;
  min-height: 42px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.header-address {
  margin-left: 10px;
}

.header-phone span {
  margin-left: 40px;
}

.list-user li {
  padding-top: 14px;
  padding-bottom: 14px;
}

.list-user li:last-child {
  margin-left: 10px;
}

.sign-up {
  display: flex;
  width: 150px;
  justify-content: center;
}

.sign-in{
  display: flex;
  width: 121px;
}

.icon-signin {
  margin-left: 14px;
  margin-right: 14px;
}

.nav {
  width: 940px;
  /*padding-left: 20px;
  padding-right: 20px;*/
  justify-content: space-between;
}

.nav li {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.main-content {
  width: 940px;
  margin: 0 auto;
}

.about-company {
  display: flex;
  justify-content: space-between;
  
  min-height: 536px;
}

.company-info {
  width: 550px;
}

.contacts {
  width: 300px;
}

.info-header, .contacts-header {
  margin-top: 80px;
  margin-bottom: 25px;
}

.company-info p {
  margin-bottom: 25px;
}

.contacts p {
  margin-bottom: 34px;
}

.company-info ul {
  padding: 0px;
  margin-bottom: 37px;
}

.company-info li {
  margin-bottom: 22px;
}

.company-info a, .contacts a:last-of-type {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.company-info a {
  width: 220px;
}

.contacts-a:last-of-type {
  width: 300px;
}

.contacts img {
  margin-bottom: 36px;
}

.footer-upper,
.footer-middle,
.footer-bottom {
  display: flex;
  width: 940px;
  margin: auto;
}

.footer-upper {
  min-height: 68px;
  justify-content: space-between;
}

.footer-middle {
  justify-content: space-between;
  min-height: 125px;
}

.logo-bot {
  height: 68px;
  padding-top: 20px;
  justify-content: center;
}

.nav-bot {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 42px;
  width: 547px;
  justify-content: space-between;
}

.footer-contacts {
  margin-top: 28px;
  margin-left: 2px;
}

.footer-address p {
  margin: 0px;
}

.footer-nav {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 32px;
  width: 524px;
  justify-content: space-between;
}

.footer-bottom p {
  margin: 0px;
}

.footer-bottom {
  min-height: 107px;
  padding-right: 15px;
  align-items: center;
}

.social-contacts {
  display: flex;
  width: 132px;
  justify-content: space-between;
  padding: 0px;
  margin-left: 161px;
  margin-right: 119px;
}

.social-contacts li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback {
  padding-right: 53px;
}

/*catalog block model*/

.catalog-main {
  padding-bottom: 60px;
}

.log-out {
  display: flex;
  padding: 0px;
  padding-left: 13px;
  padding-right: 10px;
  width: 299px;
  height: 45px;
  margin-bottom: 10px;
}

.user-name {
  display: flex;
  padding-left: 14px;
  width: 236px;
}

.signed-in:first-of-type {
  margin-right: 13px;
  margin-left: 17px;
}

.page-chain {
  display: flex;
  min-height: 59px;
  align-items: center;
}

.chain-items {
  padding: 0px;
  display: flex;
}

.chain-page {
  margin-left: 15px;
}

.catalog-header {
  padding: 32px;
  margin: 0px;
  margin-bottom: 20px;
}

.products {
  display: flex;
}

.filters-bar {
  width: 220px;
  margin-right: 20px;
}

.fieldset-wrapper {
  padding-top: 25px;
}

.filters-field {
  margin: 0px;
  padding: 0px;
}

.filter-producer,
.filter-power {
  padding: 0px;
}

.filter-producer li,
.filter-power li {
  margin-bottom: 17px;
}

.filters-button {
  margin-top: 75px;
}

.products-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-between;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 318px;
  margin-bottom: 21px;
  align-items: center;
}

.product-title {
  margin-top: 12px;
  margin-bottom: 18px;
  display: flex;
  width: 158px;
  text-align: center;
}

.product-discount {
  display: flex;
  margin: 0px;
  margin-bottom: 13px;
}

.product-price {
  display: flex;
  width: 122px;
  height: 38px;
  justify-content: center;
  align-items: center;
  
}


/*3. Типографика*/

.header-top { 
  color: #eeeeee;
  font-size: 17px;
  line-height: 18px;
}

[class^="logo"] {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo-top:hover {
  background-color: #ca2c37;
}

.logo-top:active {
  background-color: #ba2732;
}


[class^="icon"] {
  opacity: 0.3;
  fill: white;
}

.icon-phone {
  opacity: 1;
}


.search input {
  background-color: inherit;
  border: none;
}

.search input::-webkit-input-placeholder,
.widgets a, 
.check-out a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.search:hover [class^="icon"], 
.bookmark:hover [class^="icon"],
.cart:hover [class^="icon"] {
  opacity: 1;
}

.search:hover input,
.widgets li:hover {
  background-color: #212a3a;
}


.search-input:focus {
  background-color: white;
  color: black;
  outline: none;
}

.search-input:focus+svg {
  fill: #ee3643;
  opacity: 1;
}

.search-input::-webkit-search-cancel-button {
    display: none;
}

.widgets li:active {
  opacity: 0.6;
  background-color: #161d29;
}

.check-out {
  background-color: #63a63e;
}

.check-out:hover {
  background-color: #5fbb2d;
}

.check-out:active {
  opacity: 0.6;
}

.navbar {
  font-size: 17px;
  line-height: 17px;
  color: #eeeeee;
}

.page-description{
  color: #ee3643;
  font-family: "Cuprum-Italic", Arial, sans-serif;;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
}

.header-phone {

  outline: 3px solid white;
}

.header-phone {
  color: #ee3643;
  font-size: 21px;
}

.header-address {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
}

.user li {
  background-color: white;
  font-size: 21px;
}

.user a{
  color: #000000;
}

.user a:hover {
  color: #ee3643;
}

.sign-in:hover svg {
  opacity: 1;
} 

.user a:active {
  opacity: 0.3;
}

.nav a {
  color: white;
}

.nav li:hover{
  background: #212a3a;
}

.nav li:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.5);
}

.info-header, .contacts-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 300;
}

.company-info p, .contacts p {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company-info li {
  font-family: "Cuprum-Bold", Arial, sans-serif;
  font-size: 18px;
}

.company-info a, .contacts a:last-of-type {
  text-transform: uppercase;
  background-color: #ee3643;
  color: white;
  font-size: 14px;
}

.footer {
  background-color: #32425c;
}

.footer-upper a {
  font-size: 17px;
  color: #f1f5f7;
}

.footer-upper a:hover, .footer-nav a:hover {
  text-decoration: underline;
}

.footer-upper a:active, .footer-nav a:active{
  opacity: 0.5;
  text-decoration: none;
}

.footer-address, .footer-phone {
  font-style: normal;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a {
  font-size: 17px;
  color: #ffd180;
}

.footer-bottom-wrapper {
  background-color: #293449;
}

.footer-bottom p {
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom li {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  text-align: center;
}

.footer-bottom svg {
  opacity: 1;
}

.footer-bottom li:hover {
  background-color: #ee3643;
}

.footer-bottom li {
  font-size: 16px;
  line-height: 18px;
}

.feedback a, .developed a {
  color: #ffd180;
}

.feedback a:hover, .developed a:hover {
  text-decoration: underline;
}

.feedback a:active, .developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.widgets ul,
.user ul,
.nav,
.footer-upper ul,
.footer-middle ul,
.footer-bottom ul,
.filters ul,
.products ul {
  list-style: none;
}


.company-info li {
  list-style: none;
}

.company-info li:before {
  content: "-";
  padding-right: 7px;
}

.chain-page{
  list-style: none;
}

.chain-page::before {
  content: url("../img/icons/icon-right-small.svg");
  margin-right: 15px;
}

/* catalog.html*/

.signed-in {
  text-decoration: underline;
}

.log-out {
  font-family: "Cuprum-Bold", Arial, sans-serif ;
  background-color: white;
  font-size: 21px;
  line-height: 21px;
  border: none;
}

.icon-user, .icon-logout {
  fill: #32425C;
}

.log-out:hover svg {
  opacity: 1;
}

.log-out:active {
  opacity: 0.3;
}

.signed-in {
  font-size: 16px;
  color: #32425c;
}

.signed-in:nth-of-type(2)::before {
  display: inline-block;
    content: '';
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    margin-right: 13px;
    background-color: #32425c;
}

.fieldset-wrapper {
  border-top: 1px solid #e5e5e5;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "PTSans-Bold", Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.filters {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filters input[disabled="disabled"] {
  content: url("/img/checkbox-off.svg")
}

.filters-button {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 13px;
  width: 140px;
  height: 38px;
  background-color: #ffffff;
}

.catalog-header {
  background-color: #f2f6f8;
  text-transform: uppercase;
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #32425c;
}

.page-chain a {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}

.product-item {
  border: solid 1px #e5e5e5;
  font-family: "PTSans-Regular", Arial, sans-serif;
  /*text-align: center;*/
}

.product-title {
  font-size: 18px;
  
}

.product-discount {
  font-size: 17px;
  color: #999999;
  text-decoration-line: line-through;
}

.price-block {
  position: relative;
  /*width: 141px;
  height: 38px;*/
  background-color: #ee3643;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.product-price {
  font-family: "PTSans-Bold", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;
  /*background-image: url("/img/item-button.svg");*/
}

.price-block::after{
  position: absolute;
  content: "";
  top: 0px;
  right: -19px;
  border: 19px solid;
  border-right-width: 0;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.nav-product {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 13px;
  
}

.nav-product button {
  text-transform: uppercase;
  background-color: white;
}