@font-face{
  font-family: "Cuprum";
  src: 
  url("../fonts/Cuprum-Regular.woff2") format("woff2"),
  url("../fonts/Cuprum-Regular.woff") format("woff");
}

@font-face{
  font-family: "Cuprum-Bold";
  src: 
  url("../fonts/Cuprum-Bold.woff2") format("woff2"),
  url("../fonts/Cuprum-Bold.woff") format("woff");
}

@font-face{
  font-family: "Cuprum-Italic";
  src: 
  url("../fonts/Cuprum-Italic.woff2") format("woff2"),
  url("../fonts/Cuprum-Italic.woff") format("woff");
}

@font-face{
  font-family: "PTSans-Regular";
  src: 
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face{
  font-family: "PTSans-Bold";
  src: 
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

@font-face{
  font-family: "PTSans-Italic";
  src: 
  url("../fonts/ptsansitalic.woff2") format("woff2"),
  url("../fonts/ptsansitalic.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*1. Позиционирование*/
.new-product {
  position: relative;
}

.new-product::before {
  content: url("../img/new-flag.png");
  position: absolute;
  right: 0px;
  z-index: 5;
}

.actions {
  position: absolute;
  z-index: 5;
}

.product-buy {
  position: relative;
}

/*2. Блочная модель*/
body {
  min-width: 940px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.header-top-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #293449;
}

.header-top {
  display: flex;
  width: 940px;
  height: 42px;
}

.header-middle {
  display: flex;
  width: 940px;
  justify-content: space-between;
  padding-top: 46px;
  min-height: 158px;

}

.page-description {
  margin-left: 53px;
}

.navbar {
  display: flex;
  width: 940px;
  justify-content: space-between;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  min-height: 60px;
}

.navbar a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.logo{
  display: flex;
  width: 220px;
  justify-content: center;
  align-items: center;
}

.logo-top {
  height: 47px;
}

.icon-search {
  position: absolute;
  margin-left: 17px;
}

.search input {
  padding-left: 49px;
}

.search {
  display: flex;
  align-items: center;
}

.search-input {
  width: 270px;
  min-height: 42px;
}

.list-widgets,
.user {
  display: flex;
}

.user {
  height: 45px;
}

.list-widgets {
  height: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.bookmark,
.cart {
  display: flex;
  width: 150px;
  padding-left: 17px;
  padding-right: 28px;
  justify-content: space-between;
  align-items: center;
}

.check-out {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  min-height: 42px; 
}

.page-description {
  margin-top: 3px;
  width: 197px;
}

.header-phone {
  display: flex;
  align-items: center;
  width: 270px;
  min-height: 43px;
  padding-left: 12px;
  margin-bottom: 3px;
}

.header-address {
  margin-left: 10px;
}

.header-phone span {
  margin-left: 38px;
}

.user a {
  padding-top: 14px;
  padding-bottom: 14px;
}

.user a:last-child {
  margin-left: 10px;
}

.sign-up {
  display: flex;
  width: 150px;
  justify-content: center;
}

.sign-in{
  display: flex;
  width: 121px;
}

.icon-signin {
  margin-left: 14px;
  margin-right: 14px;
}

.main-content {
  width: 940px;
  margin: 0 auto;
}

.about-company {
  display: flex;
  justify-content: space-between;
  
  min-height: 536px;
}

.company-info {
  width: 550px;
}

.contacts {
  width: 300px;
}

.info-header, .contacts-header {
  margin-top: 80px;
  margin-bottom: 25px;
}

.company-info p {
  margin-bottom: 25px;
}

.contacts p {
  margin-bottom: 34px;
}

.company-info ul {
  padding: 0px;
  margin-bottom: 37px;
}

.company-info li {
  margin-bottom: 22px;
}

.company-info a, 

.contacts a:last-of-type {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 38px;
}

.company-info a {
  width: 220px;
}

.contacts-a:last-of-type {
  width: 300px;
}

.contacts img {
  margin-bottom: 36px;
}

.footer-upper,
.footer-middle,
.footer-bottom {
  display: flex;
  width: 940px;
  margin: auto;
}

.footer-upper {
  min-height: 68px;
  justify-content: space-between;
}

.footer-middle {
  justify-content: space-between;
  min-height: 125px;
}

.logo-bot {
  height: 68px;
  padding-bottom: 5px;
}

.nav-bot {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 42px;
  width: 547px;
  justify-content: space-between;
}

.footer-contacts {
  margin-top: 28px;
  margin-left: 2px;
}

.footer-address p {
  margin: 0px;
}

.footer-nav {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 32px;
  width: 524px;
  justify-content: space-between;
}

.footer-bottom p {
  margin: 0px;
}

.footer-bottom {
  min-height: 107px;
  padding-right: 15px;
  align-items: center;
}

.social-contacts {
  display: flex;
  width: 132px;
  justify-content: space-between;
  padding: 0px;
  margin-left: 161px;
  margin-right: 119px;
}

.social-contacts li {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.social-contacts li:first-of-type {
  padding-top: 13px;
}

.feedback {
  padding-right: 53px;
}

/*catalog block model*/

.catalog-main {
  padding-bottom: 60px;
}

.log-out {
  display: flex;
  padding: 0px;
  padding-left: 13px;
  padding-right: 10px;
  width: 299px;
  height: 45px;
  margin-bottom: 10px;
}

.user-name {
  display: flex;
  padding-left: 14px;
  width: 236px;
}

.signed-in:first-of-type {
  margin-right: 13px;
  margin-left: 17px;
}

.page-chain {
  display: flex;
  min-height: 59px;
  align-items: center;
}

.chain-items {
  padding: 0px;
  display: flex;
}

.chain-page {
  margin-left: 15px;
}

.catalog-header {
  padding: 32px;
  margin: 0px;
  margin-bottom: 20px;
}

.products {
  display: flex;
}

.filters-bar {
  width: 220px;
  margin-right: 20px;
}

.fieldset-wrapper {
  padding-top: 25px;
}

.filters-field {
  margin: 0px;
  padding: 0px;
}

.filter-producer,
.filter-power {
  padding: 0px;
}

.filter-producer li,
.filter-power li {
  margin-bottom: 17px;
}

.filters-button {
  margin-top: 75px;
}

.products-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-between;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 318px;
  margin-bottom: 21px;
  align-items: center;
  padding-bottom: 20px;
}

.product-title {
  margin-top: 12px;
  margin-bottom: 10px;
  width: 158px;
  text-align: center;
}

.product-discount {
  margin: 0px;
}

.price-block {
  margin-left: 8px;
  margin-top: auto;
}

.product-price {
  display: flex;
  width: 141px;
  height: 38px;
  justify-content: center;
  align-items: center; 
}

.actions {
  display: none;
}

.product-item:hover .actions {
  display: block;
}

.actions {
  width: 218px;
  height: 170px;
  padding: 44px;
  background-color: white;
}

.product-bookmark,
.product-buy {
  display: flex;
  width: 135px;
  height: 38px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

/*3. Типографика*/

.header-top { 
  color: #eeeeee;
  font-size: 17px;
  line-height: 18px;
}

[class^="logo"] {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}


[class^="icon"] {
  opacity: 0.3;
  fill: white;
}

.icon-phone {
  opacity: 1;
}


.search input {
  background-color: inherit;
  border: none;
}

.search input::-webkit-input-placeholder,
.widgets a, 
.check-out a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.search:hover [class^="icon"], 
.bookmark:hover [class^="icon"],
.cart:hover [class^="icon"] {
  opacity: 1;
}

.search:hover input,
.widgets li:hover {
  background-color: #212a3a;
}

.widgets li:hover {
  cursor: default;
}


.search-input:focus {
  background-color: white;
  color: black;
  outline: none;
}

.search-input:focus+svg {
  fill: #ee3643;
  opacity: 1;
}

.search-input::-webkit-search-cancel-button {
    display: none;
}

.widgets li:active {
  opacity: 0.6;
  background-color: #161d29;
}

.check-out {
  background-color: #63a63e;
}

.check-out:hover {
  background-color: #5fbb2d;
}

.check-out:active {
  opacity: 0.6;
}

.navbar {
  font-size: 17px;
  line-height: 17px;
}

.page-description{
  color: #ee3643;
  font-family: "Cuprum-Italic", Arial, sans-serif;;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
}

.header-phone {
  border: 3px solid white;
}

.header-phone {
  color: #ee3643;
  font-size: 21px;
}

.header-address {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.white-button {
  background-color: white;
  color: #000000;
}

.user a {
  font-size: 21px;
}

.white-button:hover {
  color: #ee3643;
}

.sign-in:hover svg {
  opacity: 1;
} 

.white-button:active {
  opacity: 0.7;
}

.navbar a {
  color: white;
}

.navbar a:hover{
  background: #212a3a;
}

.navbar a:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.5);
}

.nav-main {
  padding-left: 21px;
}

.nav-contacts {
  padding-right: 25px;
}

.info-header, .contacts-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 300;
}

.company-info p, .contacts p {
  font-family: "PTsans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company-info li {
  font-family: "Cuprum-Bold", Arial, sans-serif;
  font-size: 18px;
}

.red-button {
  text-transform: uppercase;
  background-color: #ee3643;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}

.red-button:hover {
  background-color: #ca2c37
}

.red-button:active {
  background-color: #ba2732;
}


.footer {
  background-color: #32425c;
}

.footer-upper a {
  font-size: 17px;
  color: #f1f5f7;
}

.footer-upper a:hover, 
.footer-nav a:hover {
  text-decoration: underline;
}

.footer-upper a:active, 
.footer-nav a:active{
  opacity: 0.5;
  text-decoration: none;
}

.footer-address, 
.footer-phone {
  font-style: normal;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a {
  font-size: 17px;
  color: #ffd180;
}

.footer-bottom-wrapper {
  background-color: #293449;
}

.footer-bottom p {
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom li {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  text-align: center;
}

.footer-bottom svg {
  opacity: 1;
}

.footer-bottom li:hover {
  background-color: #ee3643;
}

.footer-bottom li {
  font-size: 16px;
  line-height: 18px;
}

.feedback a, .developed a {
  color: #ffd180;
}

.feedback a:hover, .developed a:hover {
  text-decoration: underline;
}

.feedback a:active, .developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.widgets ul,
.footer-upper ul,
.footer-middle ul,
.footer-bottom ul,
.filters ul,
.products ul {
  list-style: none;
}


.company-info li {
  list-style: none;
}

.trans-companies li {
  position: relative;
  padding-left: 32px;
}

.trans-companies li:before {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: 0;
  
  width: 21px;
  height: 2px;
  border-color: #ee3643;
  background-color: #ee3643;
  padding-right: 7px;
}

.chain-page{
  list-style: none;
}

.chain-page::before {
  content: url("../img/icons/icon-right-small.svg");
  margin-right: 15px;
}

/* catalog.html*/

.signed-in {
  text-decoration: underline;
}

.log-out {
  font-family: "Cuprum", Arial, sans-serif ;
  background-color: white;
  font-size: 21px;
  line-height: 21px;
  border: none;
}

.icon-user, .icon-logout {
  fill: #32425C;
}

.log-out:hover svg {
  opacity: 1;
}

.log-out:active {
  opacity: 0.3;
}

.signed-in {
  font-size: 16px;
  color: #32425c;
}

.signed-in:nth-of-type(2)::before {
  display: inline-block;
    content: '';
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    margin-right: 13px;
    background-color: #32425c;
}

.fieldset-wrapper {
  border-top: 1px solid #e5e5e5;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "PTSans-Bold", Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.filters {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filters input[disabled="disabled"] {
  content: url("/img/checkbox-off.svg")
}

.option {
  margin-right: 8px;
}

/* checkbox */

.check {
  display: block;
  padding-left: 35px;;
}

.check-input,
.radio-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box,
.radio-box {
  position: absolute;
  margin-left: -35px;
  background-color: white;
}

.check-box {
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c5c5c5' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.radio-box {
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c5c5c5' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
}

/* checked */
.check-input:checked+.check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c5c5c5' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");

}

/* focused*/
.check-input:focus +.check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E");
}

.check-input:checked:focus +.check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

/*disabled*/
.check-input:disabled +.check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
}

.check-input:checked:disabled +.check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
}

/* radio-checked */
.radio-input:checked+.radio-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c5c5c5' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");

}

/* radio-focused*/
.radio-input:focus +.radio-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c5c5c5' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
}

.radio-input:checked:focus +.radio-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
}

/*disabled*/
.radio-input:disabled +.radio-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
}

.radio-input:checked:disabled +.radio-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b5b5b5' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E%0A");
  opacity: 0.3;
}

.filters-button {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 13px;
  width: 140px;
  height: 38px;
  background-color: #ffffff;
}

.catalog-header {
  background-color: #f2f6f8;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #32425c;
}

.page-chain a {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}

.product-item {
  border: solid 1px #e5e5e5;
  font-family: "PTSans-Regular", Arial, sans-serif;
  /*text-align: center;*/
}

.catalog-item img {
  max-width: 100%;
}

.product-title {
  font-size: 18px;
  
}

.product-discount {
  font-size: 17px;
  color: #999999;
  text-decoration-line: line-through;
}

.price-block {
  position: relative;
  background-color: #ee3643;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.product-price {
  font-family: "PTSans-Bold", Arial, sans-serif;
  font-size: 17px;
  color: #ffffff;
}

.price-block::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border: 19px solid;
  border-right-width: 0;
  border-left-color: #ee3643;
  border-top-color: white;
  border-bottom-color: white;
}

.paginator a {
  display: inline-block;
}

.paginator {
  font-family: "PTSans-Regular", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.paginator a {
  line-height: 38px;
  min-width: 38px;
  height: 38px;
  color: black;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-align: center;
}

.next-page {
  padding: 0px 32px;
}

.paginator .disabled {
  opacity: 0.3;
}

.paginator .current {
  background-color: #ee3643;
  color: white;
}

.paginator a:hover {
  border-color: #bdc6ca;
}

.paginator a:active {
  border-color: #ee3643;
}


.product-bookmark,
.product-buy {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
}

.product-buy {
  color: white;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e
}

.product-buy::before {
  content: url("../img/icons/cart-icon.svg");
  position: absolute;
  left: 12px;
  filter: opacity(0.3);
}

.product-bookmark {
  color: #32425c;
  border: solid 3px #63a63e;
}

.product-buy:hover {
  background-color: #5fbb2d;
}

.product-buy:hover::before {
  filter: opacity(1);
}

.product-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.product-buy:active::before {
  filter: opacity(1);
}

.product-bookmark:hover {
  border: solid 3px #32425c;
}

.product-bookmark:active {
  opacity: 0.3;
}


/*modal windows*/

.feedback-modal-container,
.map-modal-container,
.basket-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  pointer-events: none;
}

.feedback-modal-container:target,
.map-modal-container:target,
.basket-modal-container:target {
  display: flex;
  pointer-events: auto;
}

.modal-container {
  background-color: white;
  position: relative;
  margin: auto;
  z-index: 50;
  width: 620px;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-modal ul{
  width: 460px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
  padding: 0;
  list-style: none;
}

.modal-name, 
.modal-mail {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-bottom: 22px;
}

.modal-name label, 
.modal-mail label,
.modal-text label {
  margin-bottom: 13px;

}

.modal-name input,
.modal-mail input, 
.modal-text textarea {
  outline: solid 2px #dee3e4;
  border: none;
  display: flex;
  padding-left: 16px;
}

.modal-text textarea {
  padding-top: 9px;
  resize: none;
}

.modal-name input,
.modal-mail input{
  width: 220px;
  height: 38px;
}

.modal-textwindow {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin-bottom: 37px;
}

.text-input:hover {
  outline-color: #b5b5b5; 
}

.text-input:focus {
  outline-color: #ee3643; 
}

.modal-bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  min-height: 112px;
}

.modal-bottom-wrapper {
  text-transform: uppercase;
}

.modal-send {
  width: 460px;
  margin: auto;
  display: flex;
  min-height: 38px;
  justify-content: center;
}

.modal-send {
  border: none;
  font-family: "Cuprum", Arial, sens-serif;
  line-height: 18px;
}

.map-modal {
  position: relative;
  z-index: 50;
  margin: auto;
  background-color: white;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close-button {
  position: absolute;
  top: 9px;
  right: 9px;
}

.basket-notification {
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  margin-left: 32px;
}

.modal-top {
  width: 460px;
  margin: auto;
  display: flex;
  min-height: 170px;
  align-items: center;
}

.modal-checkout,
.modal-continue {
  width: 220px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.modal-continue {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
